/* Questionnaire styles
 * #9b1d33 dark red
 * #c23c45 red
 * #e37152 orange
 * #e7eb63 yellow
 * #b1bf34 green
 */

div.questionnaire-question, div.questionnaire-last,
div.questionnaire-contact, #questionnaire-back {
    display: none;
}

div.questionnaire-centre {
    margin-left: 20%;
    padding: 1em;
}

div.report-content, div.report-preview {
    float: left;
}

input.question-radio {
    margin: initial;
    margin-right: 0.5em;
}

div.ui-progressbar div.ui-progressbar-value {
    margin: 0;
    border: none;
}

div.ui-progressbar-value {
    background: #b1bf34;
}

input[type=text], input[type=email], input[type=hidden] {
    padding: 0;
}

input.ui-button, label.ui-button {
    background: #b1bf34;
    color: white;
    padding: 0.75em 2em;
    font-size: 12pt;
    font-weight: bold !important;
    border: none;
}

input.ui-button:hover, input.ui-button:focus,
label.ui-button:hover, label.ui-button:focus {
    background: orange;
    color: white;
    padding: 0.75em 2em;
    border: none;
}
