/* Questionnaire styles
 * #9b1d33 dark red
 * #c23c45 red
 * #e37152 orange
 * #e7eb63 yellow
 * #b1bf34 green
 */

div.questionnaire-question, div.questionnaire-last,
div.questionnaire-contact, #questionnaire-back {
    display: none;
}

div.questionnaire-centre {
    text-align: center;
    padding: 1em;
}

label.questionnaire-label {
    display: inline;
    margin: 0;
}

label {
    display: inline;
}

div.ui-progressbar div.ui-progressbar-value {
    margin: 0;
    border: none;
}

div.ui-progressbar-value {
    background: yellowgreen;
}

input.ui-button {
    background: yellowgreen;
    color: white;
    padding: 0.75em 2em;
    font-weight: bold;
    border: none;
}

input.ui-button:hover, input.ui-button:focus {
    background: orange;
    color: white;
    padding: 0.75em 2em;
    font-weight: bold;
    border: none;
}
