<!-- Report shortcode -->
<!-- Report -->
<div class="report">
  <div id="preview" class="preview">
    <!-- Preview goes here -->
  </div>
  <fieldset>
    <br />
    <input type="button" id="report" name="report"
           value="Download Report" />
    <br /><br />
  </fieldset>
</div>
<script type="text/javascript"
        src="{{ .Site.BaseURL }}{{ .Page.Params.jspdf }}">
</script>
<script type="text/javascript"
        src="{{  .Site.BaseURL }}{{ .Page.Params.answers }}">
</script>
<script type="text/javascript"
        src="{{  .Site.BaseURL }}{{ .Page.Params.report }}">
</script>
<script type="text/javascript">
  let baseURL = "{{ .Site.BaseURL }}";
</script>
