<!-- Report shortcode -->
<!-- Report -->
<div class="report">
  <div class="left">
    {{ if .Page.Params.header }}
    <img src="{{ .Site.BaseURL }}{{ .Page.Params.header }}">
    {{ end }}
    <fieldset>
      <h2 id="name" class="name"></h2>
      <input type="button" id="update" name="update"
             value="Update Preview" />
      <input type="button" id="report" name="report"
             value="Download Report" />
      <br /><br />
    </fieldset>
    {{ if .Page.Params.footer }}
    <img src="{{ .Site.BaseURL }}{{ .Page.Params.footer }}">
    {{ end }}
  </div>
  <div class="right">
    <iframe id="preview" class="preview" type="application/pdf"
            width="640" height="878">
    </iframe>
  </div>
</div>
<script type="text/javascript"
        src="{{ .Site.BaseURL }}{{ .Page.Params.jspdf }}">
</script>
<script type="text/javascript"
        src="{{  .Site.BaseURL }}{{ .Page.Params.answers }}">
</script>
<script type="text/javascript"
        src="{{  .Site.BaseURL }}{{ .Page.Params.report }}">
</script>
<script type="text/javascript">
  let baseURL = "{{ .Site.BaseURL }}";
</script>
