<!-- Quiz shortcode -->
{{ with .Page.Params }}
<!-- Check for questions -->
{{ if not .questions }}
<!-- No questions -->
<p>
  No quiz questions defined, you need to define some front matter
  fields.
</p>
{{ else }}
<!-- Quiz -->
<div id="quiz" style="width: fit-content; margin: 0 10em;">
  <div id="intro">
    <h4>{{ .intro }}</h4>
    <input type="button" value="Start" class="start" id="start" />
  </div>
  {{ $questions := .questions }}
  {{ $last_index := sub (len $questions) 1 }}
  {{ range $index, $question := $questions }}
  <div id="panel-{{ add $index 1 }}" style="display: block;">
    <h4>{{ $question.q }}</h4>
    <div id="answers-{{ add $index 1 }}" style="text-align: left">
      {{ $answers := $question.answers }}
      {{ range $n, $answer := $answers }}
      <input type="radio" id="radio-{{ $n }}" />
      <label for="radio-{{ $n }}">{{ $answer.a }}</label><br />
      {{ end }}
      <br />
      <input type="button" value="Next" class="next" id="next-{{ add $index 1 }}" />
    </div>


  </div>
  {{ end }}
</div>
{{ end }}
{{ end }}
